@font-face {
  font-family: SourceSansPro;
  src: url(./fonts/sourcesanspro-regular-webfont.woff);
}
@font-face {
  font-family: SourceSansProBold;
  src: url(./fonts/sourcesanspro-bold-webfont.woff);
}
@font-face {
  font-family: SourceSansProItalic;
  src: url(./fonts/sourcesanspro-italic-webfont.woff);
}
html {
  box-sizing: border-box;
  font-family: SourceSansPro;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: SourceSansPro;
  font-size: 1.6rem;
}
.skipnav {
  background: transparent;
  color: #212121;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  top: -4.2rem;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}

a {
  color: #0071bc;
  text-decoration: underline;
}
a:visited {
  color: #4c2c92;
}
a:hover,
a:active {
  color: #205493;
}

p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SourceSansProBold;
}

.usa-grid-full {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

.usa-grid-full::after {
  clear: both;
  content: '';
  display: block;
}

.usa-grid-full {
  padding: 0;
}

@media screen and (min-width: 600px) {
  .usa-width-one-whole {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .usa-width-one-whole:last-child {
    margin-right: 0;
  }

  .usa-width-one-half {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .usa-width-one-half:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1201px) {
  .usa-width-one-whole {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .usa-width-one-whole:last-child {
    margin-right: 0;
  }

  .usa-width-one-half {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .usa-width-one-half:last-child {
    margin-right: 0;
  }
}
