.home {
  h1 {
    margin-bottom: 0;
  }
  .card-container {
    align-items: stretch;
    display: flex;
    margin: 3em auto 0;
    max-width: $site-max-width;
    padding: 3rem;
  }
  .card {
    flex: 1;
    margin: 0 4em;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  header {
    &:not(:first-child) {
      margin-top: 4em;
    }
  }
  h3,
  h4 {
    margin: 0;
  }
  p {
    color: $color-gray;
    margin-top: 0;
  }
  ul ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  li {
    margin-bottom: 0;
  }
  hr {
    margin: 2em auto 0;
    max-width: $site-max-width;
  }
  .usa-label {
    background-color: $color-gold-light;
    color: $color-base;
    display: inline-block;
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-left: 0.5em;
    margin-bottom: 0.25em;
    vertical-align: middle;
  }
  .usa-alert-info {
    background-image: none;
  }
  .usa-alert-body {
    padding-left: 0;
  }
}
